#causality_jcrop_img {
	max-width: 100%;
}

.jcrop-holder div div .jcrop-tracker {
	background-size: cover;
}

#causality_upload, .causality-button, #causality_output, #causality_jcrop_container {
	display: none;
}